# --- Python Environment & Cache ---
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# --- MacOS System Files ---
.DS_Store

# --- IDEs (PyCharm / Aqua / VS Code) ---
.idea/
.vscode/
*.swp
*.iml

# --- Test Reports & Logs ---
allure-results/
allure-report/
Reports/
Logs/
.Logs/
*.log

# --- Data Files (Avoid uploading local data) ---
*.csv
*.xls
*.xlsx
*.xlxs

# --- Local Secrets ---
.env
Utilities/config.ini.local